$primary-green: #00a86b;
$primary-tan: #d6b75a;
$primary-blue: #1ca9c9;
$primary-white: #eef8fa;
$background-white: #f4fcfb;
$primary-black: #474848;
$body-black: #6d6c6c;
// $headig-black:#;
// $title-black:#;
